.myImg{
  border-radius: 10px;
}
 
.imagewrap{
  padding: 15px 0px;
}

@media only screen and (max-width: 600px) {
  .mainnav ul li {
    margin: 0 6px;
    list-style: none;
    font-weight: bold;
  }
}